<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>排名</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/template.css">
    <link rel="stylesheet" href="../css/page2.css">
    <link rel="stylesheet" href="../css/iconfont.css">
</head>
<body>
<div class="header_top col-md-12">
    <div class="col-md-1"></div>
    <div class="page-header title col-md-10">
        <h1>Hello<small> 这里是小韦的成绩管理系统</small></h1>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="nav_top col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-10 nav_main">
        <ul class="nav nav-pills">
            <li ><a href="./index.html"><span class="iconfont icon-shouye"></span>首页</a></li>
            <li><a href="./page1.html"><span class="iconfont icon-banji"></span>班级管理</a></li>
            <li class="active"><a href="./page2.html"><span class="iconfont icon-paiming1"></span>排名</a></li>
            <li><a href="./page3.html"><span class="iconfont icon-bangzhu"></span>帮助</a></li>
            <li><a href="./page4.html"><span class="iconfont icon-signin"></span>登录</a></li>
            <li><a href="./page5.html"><span class="iconfont icon-zhuce"></span>注册</a></li>
        </ul>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="container col-md-12 class_box">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="border-bottom: 1px solid #eee;">
        <div class="class_man item_text">
            <h4 style="float:left;font-weight: 700">排名:</h4>
            <span style="float: right;margin-top: 20px">您在这里:<a href="index.html">首页</a>>排名</span>
        </div>
    </div>
    <div class="col-md-1"> </div>
</div>


<div class="col-md-12 main">
    <div class="col-md-1"></div>
    <div class="col-md-10 input_top">
        <div id="body" >
            <div class="nav-top">
                <div class = "select" style="font-weight: 700">
                    <form class="form-inline">
                    排序方式：
                    <select placeholder="请选择"  v-model="px" class="form-control">

                        <datalist id="typelist">
                            <option>总分(默认)</option>
                            <option>语文</option>
                            <option>数学</option>
                            <option>英语</option>
                            <option>物理</option>
                            <option>化学</option>
                            <option>生物</option>
                        </datalist>
                    </select>
                    姓名：
                    <input type="text" class="form-control" v-model="sName">
                    <input type="button" class = "btn btn-primary" value="刷新"  class="restart"  @click="select">
                    </form></div>

            </div>
            <div class="table-responsive score col-sm-12 table_border" >
                <table class="table table-hover table-bordered text-center table_body">
                    <thead>
                    <tr class="thead">
                        <th width="5%">排名</th>
                        <th>姓名</th>
                        <th>语文</th>
                        <th>数学</th>
                        <th>英语</th>
                        <th>物理</th>
                        <th>化学</th>
                        <th>生物</th>
                        <th width="7%">总分</th>
                    <tr/>
                    </thead>
                    <tbody class="table_body">


                    <tr v-for="(item,index) in sArr">
                        <td>{{index+1}}</td>
                        <td id="tname">{{item.sName}}</td>
                        <td>{{item.sC}}</td>
                        <td>{{item.sM}}</td>
                        <td>{{item.sE}}</td>
                        <td>{{item.sP}}</td>
                        <td>{{item.sCm}}</td>
                        <td>{{item.sB}}</td>
                        <td>{{item.sAdd}}</td>
                    <tr/>
                    <tr style="height: 30px">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <form class="form-inline add">
                            <td style="padding: 0;line-height: 35px">新增:</td>
                            <td style="padding: 0"><input type="text" class="form-control" v-model="addArr.sName"></td>
                            <td style="padding: 0"><input type="text" class="form-control" v-model.number="addArr.sC"></td>
                            <td style="padding: 0"><input type="text" class="form-control" v-model.number="addArr.sM"></td>
                            <td style="padding: 0"><input type="text" class="form-control"v-model.number="addArr.sE"></td>
                            <td style="padding: 0"><input type="text" class="form-control" v-model.number="addArr.sP"></td>
                            <td style="padding: 0"><input type="text" class="form-control" v-model.number="addArr.sCm"></td>
                            <td style="padding: 0"><input type="text" class="form-control" v-model.number="addArr.sB"></td>
                            <td style="padding: 0"><button class="btn btn-primary" @click="addStu" style="width: 99%">添加</button></td>
                        </form>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="../js/page2.js"></script>
</html>